body{
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




    margin-top: 130px
    
} 
 
/* .navbar{
    background-color: white !important;
    color: black !important;
    text-align: center;
    justify-content: center;
    height: 100px !important;
    margin-bottom: 10px !important;
    width: 100%;
} */
.list-group{
    margin: 30px;
    border-radius: 15px;
}
/* Elementos de la barra de navegación */

/* Cambiamos los elementos de la barra cuando pasa el raton por encima */
.nav-link:hover{
    transition:.2s ;
    transform: scale(1.2);
    color: black;
    box-shadow: 4px 4px 4px gray;
    border-radius:10px;
    
}
.card-body{
    display: inline-block;
}
/* Imagen de carrito en la barra nav */
.carrito{
    width: 10%;
    height: 10%;
}
.carrito:hover{
    background-color: transparent;
}

.jumbotron{
    margin-top: 250px;
}

.form-inline{
    margin-left: 10rem;
}

/* --------------CCS DE PAGINA PRODUCTOS----------------- */

/* Modificamos el titulo en la pagina productos */
h2 span {
    padding: 10px;
    font-style: oblique;
    font-size: xx-large;
    font-weight: 900;
    color: red;
}

/* Modificamos las tarjetas de los productos */
.d-flex .card{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.d-flex .card img{
    border-radius: 20px 20px 0 0;
}
.d-flex .card:hover{
    transition:.2s ;
    transform: scale(1.07);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    
}
   
.card-body .btn-primary{
    border-radius: 7px;
}
.card-body .agrandar{
    padding: 5px;
}
.card-body .btn-primary:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.list-group-item{
    color: #000;
    font-size: 20px;
}

